*{
    box-sizing: border-box;
}


body{
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}


.title{
   background-color: #263342;
   color: white;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   padding: 10px;
}

.inner-title{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}


.phone{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}


.phone p{
    margin:0px 0px 0px 8%;
    font-weight: boldera;
}

.phone i{
    color: gold;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width:50%;
}

.search i{
    background-color: #ff4880;
    border-radius: 200px;
    padding: 7px;
    position: relative;
    text-align: center;
}

.search i::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid #ff4880;
    top: -4px;
    left: -4px;
    border-radius:200px;
    padding: 3px;
}


.facebook{
    display: none;
}
.program{
    display: none;
}

.location{
    display: none;
}



.innerNav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 90%;
    margin: auto;
}

.brand img{
    width: 100%;
    max-width: 140px;
    margin: 5% 0 0 0;
}

.navIcon{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.lines{
    border: 2px solid black;
    width: 40px;
    max-width: 40px;
    height: 40px;
    margin: 0 0 0 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar{
    background-color: black;
    /* border: 2px solid red; */
    height: 2px;
    width: 30px;
    margin: 3px 0;
}

.mid{
    height: 4px;
}

.top{
    transition: .3s all ease-in;
}
.bottom{
    transition: .3s all ease-in;
}


.lines:hover .mid{
    display: none;
}

.lines:hover .top{
    transform: rotate(45deg) translateY(2px) translateX(3px);
    border: 1px solid black;
}

.lines:hover .bottom{
    transform: rotate(-45deg) translateY(-3px) translateX(2px);
    border: 1px solid black;
}

.navItems{
    display: none;
}





.intro{
    background-image: url("/img/planeKid.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 20px;
    height: 100vh;
}

.bird{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.clouds{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top:5%;
}


.bird img{
    width: 30%;
    max-width: 120px;
    animation: bird 1.5s linear infinite;
    animation-fill-mode: backwards;
}

@keyframes bird {
    0%{transform: translateY(0px);}
   50%{transform: translateY(50px);}
}

.clouds img{
    width: 100%;
    max-width: 220px;
    animation: cloud 6s linear infinite;
    animation-fill-mode: backwards;
}

@keyframes cloud {
    0%{transform: translateX(0px);}
   50%{transform: translateX(110px);}
}


.buttonIntro{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    background-color: #ff4880;
    width: 180px;
    color: white;
    padding: 10px 10px;
    transition: all .3s ease-in;
}
.buttonIntro p{
    margin:0px 5% 0px 0px;
}

.buttonIntro i{
    background-color: white;
    color: #ff4880;
    padding: 3px;
    border-radius: 100px;
    transition: all .3s ease-in
}


.buttonIntro:hover{
    background-color: #263342;
    color: white;
}
.buttonIntro:hover i{
    color: black
}






.about{
    padding: 20px;
}

.aboutTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.aboutTitle h2{
    color: #ff4880;
    margin: 0px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 20px;
}

.aboutTitle h1{
    color: #263342;
    font-size: 40px;
    font-weight: bolder;
    margin: 2%;
}

.aboutTitle p{
    opacity: .8;
    font-size: 17px;
    margin: 2%;
}

.bee{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.bee img{
    width: 40%;
    max-width: 130px;
    animation: bee 5s linear infinite;
}

@keyframes bee{
    0%{transform: translateX(0px);}
    25%{transform: translateX(50px);}
    50%{transform: translateX(0px);}
    75%{transform: translateX(-50px);}
    100%{transform: translateX(0px);}
}



.aboutCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 2%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff6666;
    width: 90%;
    margin: auto;
    padding: 30px 30px;
    border-radius:40px;
    margin-top: 10%;
    text-align: center;
    color: white;
    transition: .5s all;
}

.card:hover{
    transform: translateY(-20px);
}

.card2{
    background-color: #ffc000;
}

.card3{
    background-color: #abcd52;
}


.card4{
    background-color: #1ab9ff;
}

.card img{
    width: 80%;
    border-radius:50%;
    position: relative;
    /* border: 2px solid red; */
    padding: 5px;
    border: 2px dotted white;
    transition: all .5s;
}

.card:hover img{
    transform: rotatey(-180deg);
}



.aboutFooter{
    padding: 10px;
}

.footerText{
    padding: 10PX;
}

.footerText span{
     color: #ff4880;
     font-size: 30px;
     font-weight: bolder;
}

.footerText h2{
    color: #271344;
}

.footerText p{
    color: #777777;
}



.description{
    background-color: #eee;
    padding: 20px;
}

.descriptionImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descriptionImg img{
    width: 80%;
    animation: di 3s linear infinite;

}


.descriptionText h1{
    color: #271344;
    font-weight: bold;
}

.descriptionText p{
    font-size: 18px;
    color: #777777;
}

@keyframes di{
    0%{transform: translateX(0px);}

    25%{transform: translateX(50px);}

    50%{
        transform: translateX(0px);
    }

    75%{
        transform: translateX(-50px);
    }

    100%{
        transform: translateX(0px);
    }
}
  

.descriptionButon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.buttonDescription{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    background-color: white;
    /* width: 180px; */
    color: #ff4880;
    padding: 0px 15px;
    transition: all .3s ease-in;
    font-size: 20px;
    border-radius: 20px;
    animation: bd .5s linear 1;
}

.buttonDescription p{
    color: #ff4880;;
}

.buttonDescription i{
    background-color:#ff4880;
    color: white;
    padding: 3px;
    border-radius: 100px;
    transition: all .3s ease-in;
    margin: 10px;
}

.buttonDescription:hover{
    background-color: #ff4880;
}

.buttonDescription:hover i{
    background-color: white;
    color: #ff4880;
}

.buttonDescription:hover p{
    color: white;
}

@keyframes bd{
    0%{transform: rotate(0deg);}

    25%{
        transform: rotate(10deg);
    }

    50%{
        transform: rotate(0deg);
    }


    75%{
        transform: rotate(-10deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

.firstText{
    animation: text1 1s linear 1;
}

.secondSection{
    /* transform:  translateY(-100px) translateX(100px) rotate(20deg); */
    opacity: 1;
    animation: text2 1s linear 1;
}

@keyframes text2{
    from{
        transform: translateY(-100px) translateX(100px) rotate(20deg);
        opacity: 0;
    }

    to{
        transform: translateY(0px) translateX(0px) rotate(0deg);
    }
}

@keyframes text1{
      from{
          transform: translateY(100px);
          opacity: 0;
      }
      to{
          transform: translateY(0px);
          opacity: 1;
      }
}



.bee2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.bee2 img{
    width: 40%;
    max-width: 130px;
}







.valori{
    padding: 20px;
}



.sun{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.sun img{
    width: 50%;
    max-width: 170px;
    animation: sun 5s linear infinite;
}


.rocket{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rocket img{
    width: 50%;
    max-width: 170px;
    animation: rocket 3s linear infinite;
}



@keyframes sun{
    0%{transform: translateX(0px);}
    25%{transform: translateX(50px);}
    50%{transform: translateX(0px);}
    75%{transform: translateX(-50px);}
    100%{transform: translateX(0px);}
}


@keyframes rocket{
    0%{transform: translateY(0px);}
    25%{transform: translateY(20px);}
    50%{transform: translateY(0px);}
    75%{transform: translateY(-20px);}
    100%{transform: translateY(0px);}
}



.heart{
    background-color: #e25555;
    width: 20%;
    max-width: 75px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    color: white;
    font-size: 30px;
    /* border: 2px dotted blue; */
    margin:30px 0;

    position: relative;
}

.heart::after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5px;
    padding: 3px;
    border: 2px dotted #e25555;;
    content: "";
    border-radius: 100px;
}


.hand{
    background-color: #40ef81;
    width: 20%;
    max-width: 75px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    color: white;
    font-size: 30px;
    /* border: 2px dotted blue; */
    margin:30px 0;

    position: relative;
}

.hand::after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5px;
    padding: 3px;
    border: 2px dotted #40ef81;
    content: "";
    border-radius: 100px;
}



.kid{
    background-color: #1ab9ff;
    width: 20%;
    max-width: 75px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    color: white;
    font-size: 30px;
    /* border: 2px dotted blue; */
    margin:30px 0;

    position: relative;
}

.kid::after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5px;
    padding: 3px;
    border: 2px dotted #1ab9ff;
    content: "";
    border-radius: 100px;
}



.atention{
    background-color: #ffc000;
    width: 20%;
    max-width: 75px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    color: white;
    font-size: 30px;
    /* border: 2px dotted blue; */
    margin:30px 0;

    position: relative;
}

.atention::after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5px;
    padding: 3px;
    border: 2px dotted #ffc000;;
    content: "";
    border-radius: 100px;
}

.cutiuta p{
    color: #777777;
    margin: 0px;
}
.cutiuta h1{
    margin:4% 0px;
}


.binocular{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 5%;
}
.binocular img{
    width: 100%;
}



.conectarea{
    background-color: #ebd59c;
    width: 20%;
    max-width: 75px;
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    color: white;
    font-size: 30px;
    /* border: 2px dotted blue; */
    margin:5% 20px;
  

    position: relative;
}

@keyframes conectt{
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

.anim-box{
    animation: conectt .8s linear 1;
}

.anim-box2{
    animation: kids .8s linear 1;
}


@keyframes kids{
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}


.binocular{
    animation: bino .8s linear 1;
}

@keyframes bino{
    from{
        transform: scale(0);
    }

    to{
        transform: scale(1);
    }
}


.conect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    animation: conectt .8s linear 1;
}
.conectarea i{
    margin: 20%;
}

.conectarea::after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5px;
    padding: 3px;
    border: 2px dotted #ffc000;;
    content: "";
    border-radius: 100px;
}

.cutiuta3{
    text-align: center;
}

.cutiuta3 h1{
    margin: 0px;
}


.crab img{
    width: 15%;
    animation: crabie 3s linear infinite;
}

@keyframes crabie{
    0%{transform: translateY(0px);}
    25%{transform: translateY(20px);}
    50%{transform: translateY(0px);}
    75%{transform: translateY(-20px);}
    100%{transform: translateY(0px);}
}


.bee3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    animation: bee2 .5s linear 1;
}


.bee3 img{
    width: 40%;
    max-width: 130px;
}

@keyframes bee2{
    0%{
        opacity: 1;
    }


    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.claseCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}

.claseCard img{
    width: 80%;
    border-radius: 20px;
}

.claseCard h1{
    color: #ff7800;
    margin: 0px;
    font-size: 25px;
    font-family: 'Rochester', cursive;
}

.line{
    height: 1px;
    width: 100%;
    background-color: orange;
    margin-top: 15%;
}

.claseCard p{
    color: #54595f;
    font-size: 18px;
    margin-top: 0px;
    line-height: 25px;
}


.varsta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.varsta p{
    margin: 0px 0px 0px 5px;
    color: #7a7a7a;
}

.varsta i{
    color: #48d11a;
}


.claseButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #48d11a;
    padding: 10px;
    color: white;
    border-radius: 20px 0px;
    font-size: 15px;
    margin-top: 10px;
}

.claseButton p{
    margin: 0px 0px 0px 5px;
    color: white;
    font-size: 18px;
}


.clase{
    margin-top: 10%;
}


@media (min-width:400px) and (max-width:600px){
   
   .search{
       display: none;
   }
   
    .facebook{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        text-align: center;
    }

    .facebook a{
        color: white;
        text-decoration: none;
    }


    .facebook i{
        transition: .3s all ease-in;
    }

    .facebook i:hover{
        transform: rotatey(360deg);
    }
}



.continutIntro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title{
    color: #ff4880;
    font-size: 20px;
}

#descriere{
    font-weight: bolder;
    font-size: 25px;
}




@media (min-width:601px) and (max-width:800px){
    .search{
        display: none;
    }

    .inner-title{
        /* border: 2px solid red; */
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin: 0 1% 0 0;
    }

    .facebook{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .facebook a{
        font-size: 15px;
        background-color: #1ab9ff;
        padding: 8px 12px;
        border-radius: 100px;
        text-decoration: none;
        color: white;
    }

    .facebook i{
        transition: .3s all ease-in;
    }

    .facebook i:hover{
        transform: rotatey(360deg);
    }

    .phone{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 65%;
    }

    .phone p{
        margin: 0px 2% 0px 2%;
    }
    .animatii{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    
    .continutIntro{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 10%;
    }

    .continutIntro h2{
        margin: 0px;
    }


    .aboutTitle h1{
        margin: 2%;
    }

    .aboutTitle p{
        margin: 0px;
    }

    .aboutCards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }


    .continutBox{
        display: grid;
        grid-template-columns: 7fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "text imagine"
    }


    .heart{
        grid-area: imagine;
    }



    .heart{
        width: 100%;   
        padding: 10px 5px;   
        margin:30px 20px;
    }


    .hand{
        /* grid-area: imagine; */
        width: 100%;   
        padding: 10px 5px;   
        margin:30px 20px;
    }

    .kid{
        width: 100%;   
        padding: 10px 5px;   
        margin:30px 20px;
    }


    .atention{
        width: 100%;   
        padding: 10px 5px;   
        margin:30px 20px;
    }

    .cutiuta h1{
        text-align: right;
    }


    .cutiuta{
        grid-area: text;
    }


    .binocular img{
        width: 80%;
    }


    .conect{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: auto;
    }



    
}



@media (min-width:801px) and (max-width:1000px){

    .search{
        display: none;
    }

    .inner-title{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: .3fr .5fr .7fr;
        grid-template-rows: auto;
        padding: 10px;
    }
    .program{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    .location{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .title i{
        color: gold;
        margin:0px 5% 0px 0%;
    }

    .title p{
        margin:0px 0% 0px 0%;
       font-weight: bold;
       font-size: 14px;
    }

    .phone{
        display: flex;
        justify-content:center;
        align-items: center;
        text-align: center;
    }

    .animatii{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    
    .continutIntro{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 10%;
    }

    .continutIntro h2{
        margin: 0px;
    }


    .aboutTitle h1{
        margin: 2%;
    }

    .aboutTitle p{
        margin: 0px;
    }

    .aboutCards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .aboutFooter{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto;
    }

    .footerButon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    .secondText{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap:20px;
    }



    .titluValori{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
    }

    .continutValori{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    .conect{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: auto;
    }

    .cutiuta3{
        text-align: left;
    }


    .claseCards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap:20px
    }

    .claseCard{
        margin-top: 0px;
    }


}


@media (min-width:1001px){
   
    .search{
        display: none;
    }


    .inner-title{
        width: 80%;
        margin: auto auto auto 10%;
        display: grid;
        grid-template-columns: .2fr .5fr 1fr;
        grid-template-rows: auto;
        padding: 10px;
    }



    .program{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }


    .location{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        margin: 0 0 0 10%;
    }

    .title i{
        color: gold;
        margin:0px 5% 0px 0%;
    }

    .title p{
        margin:0px 0% 0px 0%;
       font-weight: bold;
       font-size: 14px;
    }

    .phone{
        display: flex;
        justify-content: center;
        align-items: center;
        /* width: 15%; */
        /* margin: auto; */
        text-align: center;
    }
   
   
   
   
    .facebook{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 20%;
    }


    .facebook a{
        font-size: 15px;
        background-color: #1ab9ff;
        padding: 8px 12px;
        border-radius: 100px;
        text-decoration: none;
        color: white;
    }

    .facebook i{
        transition: .3s all ease-in;
        color: white;
    }

    .facebook i:hover{
        transform: rotatey(360deg);
    } 






    .nav{
        padding: 20px;
    }

    .innerNav{
        display: grid;
        grid-template-columns: 1fr 3fr .5fr;
        grid-template-rows: auto;
    }

    .brand{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .brand img{
        width: 100%;
    }

    .navIcon{
        display: none;
    }


    .navItems{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .navItems a{
        text-decoration: none;
        color: black;
        margin-right:3%;
        font-size: 18px;
        text-align: center;
        padding: 8px;
        transition: .3s all ease-in;
    }

    .search2{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width:100%;
    }
    
    .search2 i{
        background-color: #ff4880;
        color: white;
        border-radius: 200px;
        padding: 7px;
        position: relative;
        text-align: center;
    }

    .search2 i::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border: 2px dotted #ff4880;
        top: -4px;
        left: -4px;
        border-radius:200px;
        padding: 3px;
    }


    .navItems a:hover{
        background-color: #ff4880;
        color: white;
        /* padding: 10px; */
        border-radius:5px ;
    }
    

    .animatii{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    
    .continutIntro{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 10%;
    }

    .continutIntro h2{
        margin: 0px;
    }
    
    .buttonIntro{
        animation: button .7s linear 1;
    }

    @keyframes button{
        from{  transform: translateY(200px) translateX(-100px) rotate(45deg);}
        to{transform: translateY(0px) translateX(0px) rotate(0deg);}
    }


    .aboutTitle h1{
        margin:10px;
    }

    .aboutTitle p{
        margin: 0px;
    }

    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: #ff6666; */
        width: 90%;
        margin: auto;
        padding: 30px 30px;
        border-radius:40px;
        margin-top: 10%;
        text-align: center;
        color: white;
        transition: .5s all;
    }



    .aboutCards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        width: 80%;
        margin: auto;
    }

    .aboutFooter{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto;
    }

    .aboutFooter{
        width: 80%;
        margin: auto;
    }

    .footerButon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    .secondText{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap:20px;
    }


    .description{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        grid-gap:10px;
    }


    @keyframes di{
        0%{transform: translateX(0px);}
    
        25%{transform: translateX(20px);}
    
        50%{
            transform: translateX(0px);
        }
    
        75%{
            transform: translateX(-20px);
        }
    
        100%{
            transform: translateX(0px);
        }
    }


    .descriptionText{
        width: 80%;
        margin: auto;
    }



    .titluValori{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
    }



    
    .continutValori{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }


    .conect{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: auto;
    }

    .cutiuta3{
        text-align: left;
    }


    
    .continutBox{
        display: grid;
        grid-template-columns: 7fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "text imagine"
    }


    .continutBox2{
        display: grid;
        grid-template-columns: 2fr 7fr;
        grid-template-rows: auto;
        grid-template-areas: "imagine2 text2";
    }

    .cutiuta2{
        grid-area: text2;
    }

    .kid{
        grid-area: imagine2;
    }

    .atention{
        grid-area: imagine2;
    }


    .heart{
        grid-area: imagine;
    }

    .hand{
        grid-area: imagine;
    }

    .cutiuta h1{
        text-align: right;
    }



    .heart{
        width: 100%;   
        padding: 10px 5px;   
        margin:30px 20px;
    }


    .hand{
        /* grid-area: imagine; */
        width: 100%;   
        padding: 10px 5px;   
        margin:30px 20px;
    }

    .kid{
        width: 60%;   
    }
    
    .atention{
        width: 60%;   
    }



    .claseCards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap:20px
    }

    .claseCard{
        margin-top: 0px;

    }

    .claseCard img{
        max-height: 200px;
    }


    .claseCard2 .line{
       margin-top: 20%;
    }

    /* .claseCard1 .line{
        margin-top: 6%;
    } */



}